* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

.encabezado{
 margin-left: 100px;
}

.encabezado div > a{
  display: inline-block;
  margin-top: 30px;
  margin-left: 50px;
}

.encabezado img{
  position: relative;
  margin-right: 120px;
}

.seccion1{
  position: absolute;
  top: 230px;
  left:450px;
  color: white;
  text-align: center;
}

.seccion1 h1{
  position: relative;

}

.seccion1 a{
  background: #01DF3A;
  color: white;
  width: 20px;
}



.logo{
  float: right;
}

.seccion2{
  background: #F78181;
    color: white;
}

.seccion2 h2{
  padding-top: 100px;
  margin: 0;
  text-align: center;
}

.seccion2 h4{
  text-align: center;
}

footer{
  background: #424242;
  height: 70px;
  text-align: center;
  color: white;
  font-weight: 400;
}

.posicioncuadros{
  display: inline-block;
}
